body {
    max-width: 1024px;
    margin: 2rem auto;
    font-family: 'Courgette', cursive;
    border: 1px solid rgb(0, 61, 116);
    
}

/**
 * Header area styles
 */

header {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 20px;
    border-bottom: 1px solid rgb(0, 61, 116);
    padding: 20px;
}

.myImage {
    align-self: center;
   justify-self: center;
}

.contactInfo p {
    margin: 0;
}

h1, .expectedJobPosition {
    color: rgb(0, 61, 116);
    font-family: 'Lobster', cursive;
    margin-bottom: 0px;
}

.expectedJobPosition h2 {
    margin-top: 5px;
    font-size: 1rem;
}


/**
 * Main area styles
 */

 main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    grid-template-areas:   "experience aside"
                            "education aside";
    padding: 20px;
 }

 section.experience {
    grid-area: experience;
}

section.education {
    grid-area: education;
}

/**
 * Sections styles
 */

section {
    display: grid;

    grid-template-areas:"header header"
                        "date description";
    grid-template-rows: max-content;
    grid-template-columns: 1fr 4fr;
    grid-gap: 40px;
}

.header {
    grid-area: header;
}

section h2 {
    text-transform: uppercase;
    color: rgb(0, 61, 116);
    font-family: 'Lobster', cursive;
    
}

h2, h3, h4 {
    margin: 0.5rem 0;
}

.icon img{
    width: 30px;
    height: 30px;
}

.icon {
    align-self: center;
    justify-self: center; 
}

.header {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-column-gap: 10px;
   
}

/**
 * Aside area styles
 */

 aside {
     grid-area: aside;
     padding: 1rem;
     border-left: 1px solid rgb(0, 61, 116);
 }